:root {
 --primary-color: #F28C28/* #C1272D */;
 --secondary-color: #FFC107;
 
	
 --background-color: #f0f0f0;
 --mesa-color: #FFFFFF;
 --silla-color: #4B2E14;
 --selected-color: #FF7043;
 --label-color-primary: #023d05; /* Verde oscuro  ; */
 --label-color-secondary: #FFA000; /* Amarillo dorado */
 --label-color-neutral: #666666; /* Gris oscuro */
 --button-color-action: #091b7e; 
	--button-color: #27b82f;
 --text-color: #f0f0f5; 
	
  --mexican-red: #C1272D;
  --colombian-blue: #0033A0;
  --mexican-green: #006341;
  --colombian-yellow: #FFD700;
  --mexican-orange: #F28C28;
  --colombian-emerald: #50C878;
  --white: #FFFFFF;
  --light-grey: #F5F5F5;
  --dark-grey: #333333;

		--fieldset-yscala:20vh;
		--fieldset-xscala:30vw;		
		--chair-scala:20px;
		--table-scala:100px;
}

/*  *{
	border:.1rem solid black;
}  */


body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
	background-color: var(--light-grey);
}
/*-------------------  header ------ */;

.header {

 text-align: center;
	position: relative;

}

.vista-reservation{
 background-color:  var(--primary-color);  
 color: white;
	width: 100%;
	text-align: center;
}

.navbar {
	list-style-type: none;
	margin: 0;
	text-align: center;
	justify-content: center
} 

.navbar li {
	top: 0%;
 float: left; 
	

}
.navbar{
	border:.1rem solid black;	
}

.navbar li a {
	display: block;
	color: rgb(179, 21, 79);
	text-align: center;

	text-decoration: none;
	align-content: center;
	height:  10vh;
	font-size: 1.3rem;
	font-weight: bolder;
}

.navbar li a:hover {
	background-color:var(--selected-color);
	color: #111;
}



.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background-color: #fffbfb;
	color: rgb(10, 10, 10);
}


.navbar .nav-links a {
	color: rgb(103, 116, 233);
	text-decoration: none;
	font-weight: bold;
}


h1 {
	text-align: center;
}

/*------------ main-container */
.main-container {
 display: flex;
 flex-direction:  column;
 justify-content: center;
	align-items: center;
}

form {
 padding: 1vw;
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 margin-bottom: 20px;
	box-sizing: content-box; 

}

.grid-container {
 box-sizing: border-box;	
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 4rem;
 padding: 2rem;
 background-color: white;
 border: 1px solid #ccc;
 border-radius: 10px;
/*  width: 90%;  */

}

.table {
 background-color: var(--secondary-color);
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 height: var(--table-scala);
	width:  100px;
 border-radius: 10px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 font-size: 1,3rem;
 font-weight: bold;

}

.table:hover {
 background-color: #ff7b00;
}

.sillas {
 position: relative;
 /* width: 80px;
 height: 80px;
 margin-bottom: 10px */;
}

.silla {
 width: var(--chair-scala);
 height: 20px;
 background-color: var(--silla-color);
 border-radius: 50%;
 position: absolute;
}

.silla:nth-child(1) {  transform: translateX(-140%)  translateY(-300%); }
.silla:nth-child(2) {  transform: translateY(-50%) translateX(-400%); }
.silla:nth-child(3) {  transform: translateY(200%) translateX(-140%); }
.silla:nth-child(4) {  transform: translateY(-50%) translateX(90%); }


.reservation-details {
 display: flex;
 flex-direction: row;
  gap:1vw; 
  align-items: center; 
		justify-items:center ;
	/* align-content:space-around ; */
 margin-top: 1vh;
 width: 100%;
 padding-bottom: 1vh;
}

fieldset{
	display: flex;
	flex-direction: column;
	height:calc(2*var(--fieldset-yscala));
	width: var(--fieldset-xscala);
	gap: 1rem;
}

.reservation-details label {
 margin-top: 10px;
 color: var(--label-color-primary);
 font-size: large;
	
}

.reservation-details input {
 width: 100%;
 padding: 1rem;
 margin-top: 5px;
 border-radius: 5px;
 border: 1px solid #331616;
	box-sizing: border-box;
}

select,input[type="pasword"], input[type="text"], input[type="number"], input[type="date"] {
	width: calc(100% - 22px);
	padding: 10px;
	margin-top: 5px;
	border: 1px solid var(--dark-grey);
	border-radius: 4px;
}
 button{
 width: 100%;
 /* padding: 10px; */
 margin-top: 5px;
 border-radius: 5px;
 border: 1px solid #331616;
	background-color: var(--button-color);
 color: var(--text-color);
font-size: x-large;
font-weight: 300;
 height: 9vh;
}


.decoration{
 padding-top: 4vh;
 color:#6e4bce ;
 display: flex;
 justify-content:space-around;
 align-items: center;
 flex-direction: row-reverse; 
 padding-bottom: 5vh;
	
}

form button:hover {
 background-color: var(--button-color-action);
 color:var(--text-color) 

}


h1 {
	font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
	font-size: clamp(1.5rem, 4vw, 2.5rem);
}

/* p, label, input, button {
	font-size: clamp(1rem, 3vw, 1.5rem);
}
 */
/* Estilos generales */
body, h1, h2, p, label, input, button {
	font-family: Arial, sans-serif;
}

/* .main-container, .tab-container {
	padding: 1rem;
} */

.header, .footer {
	text-align: center;
}

/* Media queries */
@media (max-width: 752px) {
.header{
	width: 97%;
box-sizing: border-box;
}
	.reservation-details input {
		width: 90%;
	}


	.navbar {
		width: 95%;
			flex-direction: column;
			align-items: center;
			padding: 0 2vh;
	}

	.nav-links {
			flex-direction: column;
	}

	.navbar li a {
	height: 6vh;
			font-size: .5rem;
			font-size: medium;    
}

	.nav-links {
			flex-direction: column;
	}

	.tab-container, .reservation-details, .grid-container {
			padding: 1rem;
			width: 100%;
	}


	.tab-container, .reservation-details, .grid-container, .user-profile, .payment-receipt, .payment-gateway {
			padding: 1rem;
			width: 100%;
	}
}

@media (max-width: 550px) {
	.vista-reservation{
		width: 80vw;
		text-align: center;
		text-justify: auto;
		}

	body{
		width: 95vw;
	}
	

	.header h1, .main-container h1, .main-container h2 {
			font-size: clamp(1.5rem, 4vw, 2.5rem);
	}

	.navbar li {
			font-size: clamp(1rem, 3vw, 1.2rem);
	}

	.tab-container, .reservation-details, .grid-container, .user-profile, .payment-receipt, .payment-gateway {
			padding: 0.5rem;
			width: 100%;
	}

	.silla {
			width: 30px;
			height: 30px;
	}
	
fieldset{
	height: 30vh;
	gap: .7rem;
justify-content: space-between;
overflow: scroll;
}

.grid-container {
 grid-template-columns: repeat(3, 1fr);	
	overflow: scroll;
}
}
