.menu {
  padding: 50px 20px;
  text-align: center;
}

.menu-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e84a5f;
  transition: color 0.3s ease;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.menu-item {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .menu {
    padding: 30px 10px;
  }

  .menu-title {
    font-size: 1.5rem;
  }

  .menu-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .menu {
    padding: 20px 5px;
  }

  .menu-title {
    font-size: 1.3rem;
  }

  .menu-item {
    width: 100%;
    margin-bottom: 15px;
  }

  .card-title {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}